<!DOCTYPE html>
<html>
  <head>
    <title>Privacy_Policy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8">   
    <style>
      .wrap {
          width: 90%;
          margin: 0 auto;
          padding: 10px 15px 50px;
      }
      
      h2 {
          text-align: center;
      }
      
      ul {
          padding-left: 15px;
      }
      
      p,
      li {
          text-indent: 10px;
          font-size: 14px;
          color: rgb(51, 51, 51);
      }
  </style>
  </head>
  <body>
    <div class="wrap">
      <h2>Privacy Policy</h2>
      <p class="p">
          <span class="appName"> <%= appname %> </span> collects information from you in order to provide better service and a better user experience. Your privacy is a top priority to us, and this Privacy Policy explains how we collect, use, and protect your
          information.
      </p>
      <p></p>
      <h5>I. What information we use and how we use it:</h5>
      <p>1. Device identifiers:</p>
      <p>When you use a mobile device like a tablet or phone to access our Service, we may access, collect, monitor, store on your device, and/or remotely store one or more “device identifiers.” Device identifiers are small data files or similar data structures
          stored on or associated with your mobile device, which uniquely identify your mobile device. A device identifier may be data stored in connection with the device hardware, data stored in connection with the device’s operating system or other
          software, or data sent to the device by <%= appname %>. </p>
      <p>A device identifier may deliver information to us or to a third party partner about how you browse and use the Service and may help us or others provide reports or personalized content and ads. Some features of the Service may not function properly
          if use or availability of device identifiers is impaired or disabled.
      </p>
      <p>2. Information collected by our Third Party Advertising Partners. We work with third party advertising partners to provide personalized ads for you. Our partners include but are not limited to Google AdMob, Facebook Audience Network, IronSouce,
          and etc.
      </p>
      <p>Our partners may collect hardware and software information such as IP address, device ID and type, advertising IDs (such as Google’s AAID and Apple’s IDFA, both of which are randomly generated numbers that you can reset by going into your device’settings),
          device language, operating system, time zones, and identifiers associated with cookies or other technologies that may uniquely identify your device.</p>
      <h5>II. How we protect your information:</h5>
      <p>We have implemented commercially reasonable technical and organizational measures to protect your personal information from accidental loss and from loss, misuse and unauthorized access, disclosure, alteration and destruction. However, please
          note that although we take reasonable measures to protect your information, no app, website, Internet transmission, computer system or wireless connection is completely secure.</p>
      <h5>III. How we share your information:</h5>
      <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. Please be advised that we may disclose your personal information if legally required to do so by government agencies, judicial courts or
          law enforcement bodies, or to protect the safety of the public or any person, or to prevent or stop activity we consider to be illegal.</p>
      <h5>IV. Children’s Privacy:</h5>
      <p>We are committed to protecting the privacy of children. We do not knowingly collect personal information from children under the age of 13.</p>
      <h5>V. Changes to the Privacy Policy:</h5>
      <p><%= appname %> may, in its sole discretion, change this Privacy Policy from time to time, any and all changes will be reflected here and the date new versions are posted will be stated at the top of this Privacy Policy, so please review it periodically.</p>
      <h5>Contact us</h5>
      <p>If you have any suggestions, feedback or requests, please email us through <span class="email"><%= appemail %></span>.</p>
  </div>
  </body>
</html>
