<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">   
    <title>Facial_Privacy_Policy</title>
    <style>
        .wrap {
            width: 90%;
            margin: 0 auto;
            padding: 10px 15px 50px;
        }
        
        h2 {
            text-align: center;
        }
        
        ul,
        ol {
            padding-left: 15px;
        }
        
        p,
        li {
            text-indent: 5px;
            font-size: 14px;
            color: rgb(51, 51, 51);
        }
        
        .clearTop {
            margin-top: 0;
        }
        
        .clearBot {
            margin-bottom: 0;
        }
    </style>
</head>

<body>
    <div class="wrap">
        <p>This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data. We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this policy.</p>
        <h4>I. Information We Process</h4>
        <p>When you use the App, some information about your device and your user behaviour may be processed automatically. This information is generally non-personal, and we may access it only in aggregated form. We process this information on the ground of our legitimate interest in improving our App and giving our users the best experience. Otherwise we may not be able to provide you with all the requested services and features of the App.
        </p>
        <p>We use third-party automatic data processing technologies (such as Google and Facebook) to analyse certain information sent by your device or our App. Automatic data processing technologies (advertising or analytics tools) provide us with the data described below. We do not control, supervise or respond for how the third parties providing your information process your personal data, and any information request regarding the disclosure of your personal information to us should be directed to such third parties.
        </p>
        <p>What data may be processed:</p>
        <p>Advertisers / Advertising ID, device make and model, mobile web browser type and version, IP address, MAC address and IMEI, WiFi,account information (email etc), the device’s operating system’s make and version, locale information, MCC (Mobile Country Code) information, location and related data, cookies and similar technical data.
        </p>
        <p>Processing information through automatic data processing technologies we use starts automatically when you start using the App.</p>
        <h4>II.  How We Process Face Data</h4>
        <p>Allowing Users to compare any face with the others and find out match rate they look like, <%= appname %> App  requires face data to make such comparisons. In order for this functionality to be possible, the app requires access to your device's camera and/or photos already stored in your device. This access can be toggled on or off at any time in your device's settings.</p>
        <p>In doing so, we use a third-party algorithm offered by Tencent Rekognition. The method detects the faces in the image provided by Users and extracts facial features into a feature vectors. Later, extracted feature vectors are used to perform face match.</p>
        <p>The camera images and resulting data (feature vectors) are only used for the purposes of comparison. Once a session is complete we do not retain any of this facial data. Facial data is never stored to a disk. We do not perform facial recognition on your facial data.
        </p>
        <p>The app does not sync face data to a server or cloud. It is only transferred to and processed by Tencent Rekognition to obtain feature vectors from the face data provided for faces match comparison.
        </p>
        <h4>III. Share of Your Information</h4>
        <p>We will share your information with third parties only in the ways that are described in this Privacy Policy.
        </p>
        <p>We will not rent or sell your personal data to third parties, but we may share your information from tools like cookies, log files, and device identifiers and location data, with third-party organizations that provide automatic data processing technologies for the App. We do not control or influence these third parties’ tracking technologies or how they may be used.
        </p>
        <p>We may also share certain information such as cookie data with third-party advertising partners. This information allows third-party ad networks, inter alia, to deliver targeted advertisements that they believe will be of most interest to you. We may use one or more of the following third-party advertising services and analytics tools: Adjust; AdMob; Apple  SearchAds; Facebook; Firebase; Google AdWords; ironSource; Mopub; Applovin; Inmobi; Ogury. In case you want to learn more about the services and privacy options please consult their websites and privacy policies.
        </p>
        <p>Our App may use certain third-party service providers like Tencent Web Services (AWS) to enhance user experience. Use of third-party services may require us to submit your personal information to their servers that provide automatic data processing technologies for the App.</p>
        <h4>IV. Chidren’s Privacy</h4>
        <p>Our App is not intended for children under the age of 18. Therefore, we do not knowingly collect or solicit any personal information from children under 18. No one under age 18 may provide any personal information to the App. If you are under 18, do not use or provide any information on this App or through any of its features. Do not provide any information about yourself, including your email address. If we learn that we have collected personal information from a child under age 18 without verification of parental consent, we will erase that information as quickly as possible. If you believe that we might have any information from or about a child under 18, please contact us.
        </p>
        <h4>V. Other Web Sites And Services</h4>
        <p>We may modify or update this Privacy Policy from time to time, so please review it periodically. We may provide you additional forms of notice of modifications or updates as appropriate under the circumstances. Your continued use of  the Service after any modification to this Privacy Policy will constitute your acceptance of such modification.
        </p>
        <h4>VII. How to Contact Us</h4>
        <p> If you have any questions about this Privacy Policy or the Service, please contact us through the email:<%= appemail %>.</p>
    </div>
</body>

</html>
