<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">   
    <title>Privacy_Agreement</title>
    <style>
        .wrap {
            width: 90%;
            margin: 0 auto;
            padding: 10px 15px 50px;
        }
        
        h2 {
            text-align: center;
        }
        
        ul,
        ol {
            padding-left: 15px;
        }
        
        p,
        li {
            text-indent: 5px;
            font-size: 14px;
            color: rgb(51, 51, 51);
        }
        
        .clearTop {
            margin-top: 0;
        }
        
        .clearBot {
            margin-bottom: 0;
        }
    </style>
</head>

<body>
    <div class="wrap">
      <p>If there are any questions regarding this privacy policy you may contact us using the information below. <%= appemail %></p>
      <h4>What information do we collect?</h4>
      <p>We collect certain information from your mobile device, including but not limited to the following:
        Device and Usage Information that may include(i) information specific to your mobile device (e.g., make, model, operating system, advertising identifier and similar information); (ii) information about your use of features, functions, or notifications on the device; and (iii) signal strength relating to WiFi or Bluetooth functionality, temperature, battery level, and similar technical data.
        How we use the information we collect:</p>
      <p>* Operate and improve our services;</p>
      <p>* Provide user and other support, including to our third-party business partners;</p>
      <p>* Provide you with information when you enter participating local venues;</p>
      <p>* Carry out other purposes that are disclosed to you and to which you consent.</p>
      <p>* To personalize your experience (your information helps us to better respond to your individual needs)</p>
      <p>We will retain your information for as long as the application is installed on your mobile device or as needed to provide you service. If you remove the application, we will remove your information and use copies of your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.
        Do we share any information to outside parties?</p>
      <p>We share the information we collect with third-party business partners who commit to comply with applicable laws concerning their usage of the information. Our third-party business partners may share the information with their own third party business partners and use the information either for themselves or on behalf of their own business partners to:
      </p>
      <p>* Operate and improve their services;</p>
      <p>* Provide you with advertisements and information for products and services in this app or on other apps or websites based on variables such as your location, and assess your level of engagement with them;
      </p>
      <p>* Carry out other purposes that are disclosed to you and to which you consent.</p>
      <h4>Online Privacy Policy Only</h4>
      <p>This online privacy policy applies only to information collected through our website and not to information collected offline.</p>
      <h4>Security</h4>
      <p>We use a variety of security technologies and procedures for the purpose of preventing loss, misuse, unauthorized access or disclosure of the Information. For example, in some of our Services, we use encryption technology to protect certain sensitive Information provided by you to us. Please note that no data security measures can guarantee 100% security at all times. Our systems and the communications networks through which you access our services may be subject to security breaches and failures which are due to circumstances beyond our reasonable control</p>
      <h4>Advertising</h4>
      <p>We may collect and use information about you, such as your device identifier, MAC address, IMEI, geo-location information and IP address for the purpose of the tracking of the advertising. This information is used together to create a unique user number to help us to better count and track advertising based on language, geographic location and other relevant details. This information is NOT SOLD to outside parties.</p>
      <h4>User Logs</h4>
      <p>When using our Services, including engaging with, watching or producing any content in relation to our Services, certain user log information in our application will be automatically collected, including (i) details on when and how often our Services are being used, (ii) devices statistics, critical operation paths, errors, crashes, language and time zone and so on. These user logs are used to improve our Services and are NOT USED to identify and track our users individually.</p>
      <h4>Your Consent</h4>
      <p>By using our site, you consent to our web site privacy policy.</p>
      <h4>Revision to the privacy policy</h4>
      <p>We may change this privacy policy from time to time. But when we do, we’ll let you know one way or another. Sometimes, we’ll let you know by revising the date at the top of the privacy policy that’s available on our website and mobile application. Other times, we may provide you with additional notice (such as adding a statement to our websites’ homepages or providing you with an in-app notification).</p>
    </div>
</body>

</html>
