<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">   
    <title>Privacy_Agreement</title>
    <style>
        .wrap {
            width: 90%;
            margin: 0 auto;
            padding: 10px 15px 50px;
        }
        
        h2 {
            text-align: center;
        }
        
        ul,
        ol {
            padding-left: 15px;
        }
        
        p,
        li {
            text-indent: 5px;
            font-size: 14px;
            color: rgb(51, 51, 51);
        }
        
        .clearTop {
            margin-top: 0;
        }
        
        .clearBot {
            margin-bottom: 0;
        }
    </style>
</head>

<body>
    <div class="wrap">
      <h4>Support</h4>
      <p>If there are any questions regarding this privacy policy you may contact us using the information below. <%= appemail %></p>
      <h4>What information do we collect?</h4>
      <p>We collect certain information from your mobile device, including but not limited to the following:</p>
      <p>Device and Usage Information that may include</p>
      <p>&nbsp;&nbsp;&nbsp;(i) information specific to your mobile device (e.g., make, model, operating system, advertising identifier and similar information); </p>
      <p>&nbsp;&nbsp;&nbsp;(ii) information about your use of features, functions, or notifications on the device;  </p>
      <p>&nbsp;&nbsp;&nbsp;(iii) signal strength relating to WiFi or Bluetooth functionality, temperature, battery level, and similar technical data.</p>
      <h4>How We Use the Information We Collect:</h4>
      <ul>
          <li>Operate and improve our services;</li>
          <li>Provide user and other support, including to our third-party business partners;</li>
           <li> Provide you with information when you enter participating local venues; </li>
           <li>Carry out other purposes that are disclosed to you and to which you consent.</li>
           <li>To personalize your experience</li>  
      </ul>
      <p>(your information helps us to better respond to your individual needs)</p>
      <p>We will retain your information for as long as the application is installed on your mobile device or as needed to provide you service. If you remove the application, we will remove your information and use copies of your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.</p>
      <h4>Do we use cookies?</h4>
      <p>We do not use cookies.</p>
      <h4>Do we share any information to outside parties?</h4>
      <p>We share the information we collect with third-party business partners who commit to comply with applicable laws concerning their usage of the information. Our third-party business partners may share the information with their own third party business partners and use the information either for themselves or on behalf of their own business partners to:</p>
      <ul>
          <li>Operate and improve their services;</li>
          <li>Provide you with advertisements and information for products and services in this app or on other apps or websites based on variables such as your location, and assess your level of engagement with them; </li>
          <li>Carry out other purposes that are disclosed to you and to which you consent.</li>
      </ul>
      <h4>Online Privacy Policy Only</h4>
      <p>This online privacy policy applies only to information collected through our website and not to information collected offline.</p>
      <h4>Your Consent</h4>
      <p>By using our site, you consent to our web site privacy policy.</p>
    </div>
</body>

</html>
