<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">   
    <title>Privacy_Agreement</title>
    <style>
        .wrap {
            width: 90%;
            margin: 0 auto;
            padding: 10px 15px 50px;
        }
        
        h2 {
            text-align: center;
        }
        
        ul,
        ol {
            padding-left: 15px;
        }
        
        p,
        li {
            text-indent: 5px;
            font-size: 14px;
            color: rgb(51, 51, 51);
        }
        
        .clearTop {
            margin-top: 0;
        }
        
        .clearBot {
            margin-bottom: 0;
        }
    </style>
</head>

<body>
    <div class="wrap">
      <p>We are committed to protecting the privacy of our users (“users” or “you”). This Privacy Policy (this “Policy”) describes how and why we collect, store, use and manage the information (including personal information and data) that you provide or collect about our Site, including the Site or any application. Mobile platforms (for example, iOS and Android) (collectively referred to as “services”). Please note that the scope of this policy is limited to the information and data we collect or receive through your use of the Service. We are not responsible for the actions of third party personnel or companies, the content of their websites, the use of information or data that you provide them, or any products or services they may provide. Any links to these websites do not constitute sponsorship or association of these people or companies.</p>
      <h4>Introduction</h4>
      <p>If you have any questions or concerns, please contact us or leave your message.</p>
      <p>By using our services, you agree to our Privacy Policy and confirm that you are at least 13 years of age.</p>
      <h4>Information and Data we Collect from you</h4>
      <p>We may collect the following information and data from you:</p>
      <p>Automatically collected data (such as IP address, device operating system, browser type and language)</p>
      <p>Mobile device identifier (such as your unique device ID (persistent/non-persistent), hardware type</p>
      <p>General location information to give you the correct version of the app</p>
      <p>Precise location information from your mobile device (but not in all of our apps, and only if you explicitly agree)</p>
      <p>We as a data controller will not and will not process any special categories of personal data (“sensitive data”).</p>
      <h4>How We Use Your Information</h4>
      <p>The primary goal of our use of information is to serve you, improve our services, connect with you, conduct marketing and research, and create reports for internal use. We store information on servers located in Web services and can store information about servers and devices in other countries. We use the information collected through our services for the purposes described in this policy, or, based on your consent, disclose information about our services to comply with our legal obligations or when we evaluate The legitimate interests pursued by third parties that we may need to disclose information when necessary. We may use your information for:</p>
      <p>Operate and improve our services</p>
      <p>Know your and your preferences, use our services to enhance your experience and fun</p>
      <p>Respond to your comments and questions and provide customer service</p>
      <p>Provide and provide the products and services you request</p>
      <p>Provide you with advertising, marketing and promotional information</p>
      <p>Send you relevant information, including confirmations, invoices, technical notifications, updates, security alerts, and support and management messages</p>
      <p>Communicate with you about promotions, rewards, upcoming events and other news about products and services offered by us and our selected partners</p>
      <p>Link or combine with other information we obtain from third parties to help understand your preferences and provide you with better service.</p>
      <p>The legal basis for our use of your information is the agreement you have with us regarding the Service (the “Terms of Use”). Our employees can only access your information if their functions require the provision of our services or act on our behalf as set forth in this policy.</p>
      <h4>Tracking</h4>
      <p>We and our marketing and outsourcing partners, affiliates or analytics providers use technologies such as cookies, beacons, scripts and tags to identify users’ computers/devices and “remember” what you visit, such as your preferences. Or username and password. The information contained in the cookie may be associated with your personal information, such as your user ID, to improve the quality of the service, to tailor recommendations based on your interests, and to make the service easier to use. You can disable cookies at any time.</p>
      <h4>Advertising</h4>
      <p>We can advertise, collect and use data and information about you and your devices (including apps on your device or at specific times) in our apps, games and other places, with the help of ourselves and our partners. The app you use) is related to this type of ad, including viewing and interacting with any such ad to provide, enable, target, and optimize ads and promotions that are more relevant to you, and based on your app, Game and device usage, online behavior and interests (this is often referred to as online behavior or interest-based advertising). We and our partners may also use cookies or similar tracking techniques to track the content you visit or the location of your device for interest-based advertising. Our partners’ privacy policies may include additional terms and disclosures regarding their data collection and usage practices and tracking techniques, and we encourage you to review these privacy policies to learn more about their data collection and use practices, cookie usage and other similar tracking. Multi-information technology.</p>
      <p>Advertisers on mobile devices, as well as our third-party advertising and analytics partners, sometimes collect and use ad IDs to enable and optimize ads. The advertising ID is a non-permanent device identifier, such as an Android advertising ID and/or an Apple ID for an advertisement.</p>
      <h4>Access, correct and delete your information</h4>
      <p>Upon request, we will provide you with information about whether we hold any personal information about you. If your personal information changes or you no longer need our services, you can correct, update, delete inaccurately or delete your personal information by making changes or contacting us in your account settings. We will respond to your access request within a reasonable time frame.</p>
      <h4>Data security and retention periods</h4>
      <p>Protecting personal data security is our number one priority. We do our utmost to protect your information from unauthorized access or to prevent third party loss, misuse or alteration, disclosure and other improper handling activities.</p>
      <p>We have developed reasonable and appropriate organizational, technical and physical procedures and safeguards to protect the information we collect and process. These procedures also take into account the type of personal data and the risks associated with its possible disclosure. In the following, we have specific actions for us on organizational, technical and physical safeguards.</p>
      <p>We will retain your information for the stated purposes. However, the retention period also depends on whether you need to respond to the data subject’s query and resolve the issue and the legal requirements to retain certain documents.</p>
      <p>We will remove such personal data when we no longer need personal data to provide services and there is no legal obligation to retain the relevant data. We can still use this data for statistics, but in this case it will be anonymized.</p>
      <h4>Changes to This Policy</h4>
      <p>We may update this policy to reflect changes in our data and information privacy practices. If we do this, we post the revised policy here with an updated version date. We encourage you to check this page regularly for the latest information on our privacy practices.</p>
      <h4>Contact Section</h4>
      <p>If you have any questions or concerns regarding our Terms of Use, please leave your message.</p>
      </div>

</body>

</html>
