<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Privacy_Agreement</title>
    <style>
      .wrap {
        width: 90%;
        margin: 0 auto;
        padding: 10px 15px 50px;
      }

      h2 {
        text-align: center;
      }

      ul,
      ol {
        padding-left: 15px;
      }

      p,
      li {
        text-indent: 5px;
        font-size: 14px;
        color: rgb(51, 51, 51);
      }

      .clearTop {
        margin-top: 0;
      }

      .clearBot {
        margin-bottom: 0;
      }
    </style>
  </head>

  <body>
    <div class="wrap">
     <p>This page informs you of our policies regarding the collection, use and disclosure of Personal Information when you use our Service.</p>
     <h4>Personal Information Collect, Use, Disclosure and Consent</h4>
     <p>Personal Information may include your name, age, home address, phone number, marital status, income, credit history, medical information, education, employment information and social registration numbers.</p>
     <p>We are committed to providing our clients, customers, members ("you", "your" or "them") with exceptional service. Providing exceptional service may involve the collection, use and, at times, the disclosure of your Personal Information. Protecting your Personal Information is one of our highest priorities. While we have always respected your privacy and safeguarded all Personal Information, we have strengthened our commitment to this goal. This is to continue to provide exceptional service to you and to comply with all laws regarding the collection, use and disclosure of Personal Information. We will inform you of why and how we collect, use and disclose Personal Information; obtain your consent, as required; and handle Personal Information according to applicable law. Our privacy commitment includes ensuring the accuracy, confidentiality, and security of your Personal Information and allowing you to request access to, and correction of, your personal information.</p>
     <p>We will not use or share your information with anyone except as described in this Privacy Policy.</p>
     <p>We will obtain your consent to collect, use or disclose Personal Information. In some cases, we can do so without your consent (see below). You can provide consent orally, in writing, electronically or through an authorized representative.</p>
     <p>You provide implied consent where our purpose for collecting using or disclosing your Personal Information would be considered obvious or reasonable in the circumstances. Consent may also be implied where you have notice and a reasonable opportunity to opt-out of having your Personal Information used for mail-outs, marketing or fundraising and you do not opt-out.</p>
     <p>We will not sell your Personal Information to other parties unless consent has been provided or implied. We retain your Personal Information for the time necessary to fulfill the identified purposes or a legal or business purpose. We will make reasonable efforts to ensure that your Personal Information is accurate and complete. You may request correction to your Personal Information to ensure its accuracy and completeness. A request must be in writing and provide sufficient detail to identify your Personal Information and the correction being sought.</p>
     <p>We are committed to ensuring the security of your Personal Information and may use passwords, encryption, firewalls, restricted employee access or other methods, in our discretion. We will use appropriate security measures when destroying your Personal Information such as shredding documents or deleting electronically stored information, in our discretion.</p>
     <h4>Further Information on How We Process Face Data</h4>
     <p>Allowing its Users to compare any face with the celebrities and find out which celebrity they look like, it is requiring face data to make such comparisons. In order for this functionality to be possible, the app requires access to your device’s camera and/or photos already stored in your device. This access can be toggled on or off at any time in your device’s settings.</p>
     <p>The app does not sync face data to a server or cloud. The camera images and resulting data (feature vectors) are only used for the purposes of comparison. Once a session is complete we do not retain any of this facial data. Facial data is never stored to a disk. We do not perform facial recognition on your facial data.</p>
     <h4>Log Data</h4>
     <p>We may collect information that your web browser sends whenever you visit our Service ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Service
     that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>
     <p>In addition, we may use third party services such as Google Analytics that collect, monitor and analyze this type of information in order to increase our Service's functionality. These third-party service providers have their own privacy policies addressing how they use such information.</p>
     <p>When you access the Service by or through a mobile device, we may collect certain information automatically, including, but not limited to, the type of mobile device you use, your mobile devices unique device ID, the IP address of your mobile device, your mobile operating system, the type of mobile Internet browser you use and other statistics.</p>
     <h4>Location information</h4>
     <p>Subject to the provisions regarding the use of your Personal Information, above, we may use and store information about your location. We use this information for the purposes set out above, and specifically, to provide features of our Service, to improve and customize our Service. You can enable or disable location services when you use our Service at anytime, through your mobile device settings.</p>
      <h4>Cookies</h4>
      <p>Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.</p>
      <p>We use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service. If you do not instruct your browser to refuse all cookies or to indicate when a cookie is being sent, your consent to our use of your Personal Information may be implied.</p>
      <h4>Communications</h4>
      <p>We may use your Personal Information to contact you with newsletters, marketing or promotional materials and other information that may be of interest to you. You may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send or by contacting us.</p>
      <h4>Security</h4>
      <p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>
      <h4>Links To Other Sites</h4>
      <p>Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.</p>
      <p>We have no control over, and assume no responsibility for the content, privacy policies or practices of any third-party sites or services.</p>
      <h4>Changes To This Privacy Policy</h4>
      <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
      <p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
      <p>If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website.</p>
      <h4>Contact Us</h4>
      <p>If you have any questions about this Privacy Policy, please contact us at <%= appemail %>.</p>
    </div>
  </body>
</html>
