<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Privacy_Agreement</title>
    <style>
      .wrap {
        width: 90%;
        margin: 0 auto;
        padding: 10px 15px 50px;
      }

      h2 {
        text-align: center;
      }

      ul,
      ol {
        padding-left: 15px;
      }

      p,
      li {
        text-indent: 5px;
        font-size: 14px;
        color: rgb(51, 51, 51);
      }

      .clearTop {
        margin-top: 0;
      }

      .clearBot {
        margin-bottom: 0;
      }
    </style>
  </head>

  <body>
    <div class="wrap">
      <h2>Privacy Policy</h2>
      <p>
        Based on our apps and associated services, you may apply for use of a
        special functional service provided by a third party. If you need to
        sign up for and use any special functional service, please carefully
        read the terms of service for such special functional service. By
        accepting or using any special functional service, you acknowledge that
        you have read and accepted this Agreement and the terms of service for
        such special functional service, and agree to be bound by them.
      </p>
      <h4>Personal Information</h4>
      <p>
        We <strong> not collect personal information</strong> which personally
        identifies you, such as
        <strong> your name, email address or billing information</strong>, or
        other data which can be reasonably linked to such information.
      </p>
      <p>
        However, We may use personal information submitted by you only for the
        following purposes:
        <strong
          >help us develop, deliver, and improve our products and services and
          supply higher quality service; manage online surveys and other
          activities you’ve participated in.</strong
        >
      </p>
      <h4>Non-Personal Information</h4>
      <p>
        We may collect and use non-personal information in the following
        circumstances. To have a better understanding in user’s behavior, solve
        problems in products and services, improve our products, services and
        advertising, we may collect non-personal information such as installed
        application name and package name, the data of install, frequency of
        use, country, equipment and channel.
      </p>
      <p>
        If non-personal information is combined with personal information, we
        treat the combined information as personal information for the purposes
        of this Privacy Policy.
      </p>
      <p>
        There is some information we collect when you access our Services, which
        we use to facilitate the broad range of communications offered through
        our Services, to provide you cool features and functionality, and to
        enable all the other purposes described in this privacy policy. We
        explain all this below:
      </p>
      <h4>(1) Information</h4>
      <p>
        we get from your use of our services We may collect information about
        the services that you use and how you use them, such as when you view
        and interact with our content. We may collect device-specific
        information (such as your hardware model, operating system version,
        unique device identifiers, and mobile network information). We will not
        share that information with third parties.
      </p>
      <h4>(2)Usage Information</h4>
      <p>
        We collect information about your activity through our Services. For
        example, we collect information such as the
        <strong> time, date, country, language, traffic type.</strong>
      </p>
      <h4>How We Use Information</h4>
      <p>
        We collect user information and personal details so that
        <strong>
          we can provide our products and our Services to you and ensure our
          compliance with relevant laws. We will use your user information and
          personal details collected under “The Information We Collect” for the
          following purposes:</strong
        >
      </p>
      <h4>Information We Use</h4>
      <p>
        We provide you with an amazing set of Services that we improve with the
        information we collect. But we do a lot more as well, such as:
      </p>
      <ul>
        <li>
          (1) Provide and deliver the products, services, and functionality that
          you request, process transactions, and send you related information;
        </li>
        <li>
          (2) Communicate with you. That means just what it says; we may send
          you marketing communications on behalf of us or other companies;
          respond to your comments and questions; provide customer services; and
          send you technical notices, security alerts, and other informational
          messages;
        </li>
      </ul>
      <h4>Children’s Privacy</h4>
      <p>
        We respect the privacy of children under the terms of Privacy Policy. We
        do not knowingly collect or solicit any information from anyone under
        the age of 13 or knowingly allow such persons to register for the
        Service. The Service and its content are not directed at children under
        the age of 13. In the event that we learn that we have collected
        personal information from a child under age 13 without parental consent,
        we will delete that information as quickly as possible. If you believe
        that we might have any information from or about a child under 13,
        please contact us via email.
      </p>
      <h4>Changes</h4>
      <p>
        Our Privacy Policy may change from time to time. We will not reduce your
        rights under this Privacy Policy without your explicit consent. We will
        post any Privacy Policy changes on this page and, if the changes are
        significant, we will provide a more prominent notice (including, for
        certain services, email notification of Privacy Policy changes.
      </p>
      <h4>Information Security</h4>
      <p>
        We will take reasonable measures to prevent the loss, improper use of,
        unauthorized access to or disclosure of information. For example, some
        of our Services will use encryption techniques (such as SSL) to protect
        your personal details. However, you understand and accept that (in the
        Internet industry) even though we will take all possible security
        measures, we cannot always guarantee that your information is 100%
        secure. You understand and accept that the system and communication
        network used by you to access our Services may fail due to factors
        beyond our control.
      </p>
      <h4>Contact Us</h4>
      <p>
        If you have questions about the privacy aspects of our Services or would
        like to make a complaint, please contact at <%= appemail %> . Please be
        sure to include your name, address and email address in any
        correspondence to us so that we can respond to your inquiry in a timely
        manner.
      </p>
      <p>
        <strong>
          We use the Umeng to analyze the apps ，there are Umeng policy
          :</strong
        >
      </p>
      <h4>1. USE OF PERSONAL DATA</h4>
      <p>
        <strong>Product Improvement.</strong> We use data to continually improve
        our products, including adding new features or capabilities. For
        example, … .
      </p>
      <h4>2. SHARING OF PERSONAL DATA</h4>
      <p>
        To improve our product and provide you better service, we also share
        personal data with vendors or agents working on our behalf for the
        purposes described in this privacy policy. For example, companies we've
        hired to provide data analytical services may need collect and access to
        personal data to provide those functions. In such cases, these companies
        must abide by our data privacy and security requirements.
      </p>
      <h4>3. LGGAL BASIS FOR DATA PROCESSING</h4>
      <p>
        We process Personal Data for the purposes set out in this Privacy
        Policy, as described above. Our legal basis to process personal data
        includes processing that is: necessary for the performance of the
        contract with you (for example, to provide you with the services you
        request and to identify and authenticate you so you may use the Sites);
        necessary to comply with legal requirements (for example, to comply with
        applicable accounting rules and to make mandatory disclosures to law
        enforcement); necessary for our legitimate interests (for example, to
        manage our relationship with you, to ensure the security of our
        services, to communicate with you about our products and services); and
        based on consent by our customers (for example, to place certain cookies
        and to share your information with third parties for advertising
        purposes). In some instances, you may be required to provide us with
        Personal Data for processing as described above, in order for us to be
        able to provide you all of our services, and for you to use all the
        features of our Sites.
      </p>
      <h4>4. INTERNATIONAL TRANSFERS OF PERSONAL DATA</h4>
      <p>
        Our business may require us to transfer your Personal Data to countries
        outside of the European Economic Area (“EEA”), including to countries
        such as the People’s Republic of China or Singapore. We take appropriate
        steps to ensure that recipients of your Personal Data are bound to
        duties of confidentiality and we implement measures such as standard
        contractual clauses. A copy of those clauses can be obtained by
        contacting our Help Center.
      </p>
      <h4>5. YOURS RIGHTS</h4>
      <p>
        Subject to limitations in applicable law, you are entitled to object to
        or request the restriction of processing of your Personal Data, and to
        request access to, rectification, erasure and portability of your own
        Personal Data. Where the use of your information is based on consent,
        you can withdraw this consent at any time without affecting the
        lawfulness of processing based on consent before its withdrawal.
      </p>
      <p>
        If you are aware of changes or inaccuracies in your information, you
        should inform us of such changes so that our records may be updated or
        corrected. You may lodge a complaint with a supervisory authority if you
        consider that our processing of your Personal Data infringes applicable
        law. We retain your Personal Data as long as needed to provide services
        or products to you, or as required or permitted by applicable laws, such
        as tax and accounting laws.
      </p>
    </div>
  </body>
</html>
