<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">   
    <title>Privacy_agreement</title>
    <style>
        .wrap {
            width: 90%;
            margin: 0 auto;
            padding: 10px 15px 50px;
        }
        
        ul {
            padding-left: 15px;
        }
        
        p,
        li {
            text-indent: 10px;
            font-size: 14px;
            color: rgb(51, 51, 51);
        }
    </style>
</head>

<body>
    <div class="wrap">
        <p class="p">
            <span class="appName"><%= appname %></span> is committed to compliance with all applicable country-specific data privacy laws. Protecting the privacy and security of your Personal Data is of the highest importance to <%= appname %>; therefore, we conduct
            our business by abiding by applicable laws on data privacy and data security.
        </p>
        <p>
            Through <span class="appName"><%= appname %></span>, We will not collect any Personal Data about you (e.g. your name, address, telephone number or e-mail address), unless you voluntarily choose to provide us with it (e.g. by registration, survey,
            contest participation), provide your explicit consent, or unless otherwise permitted by applicable laws and regulations for the protection of your Personal Data.
        </p>
        <ul>
            <h3>Information You Provide </h3>
            <li>
                Customer Support. You may provide us with information related to your use of our Services, including copies of your messages, and how to contact you so we can provide you customer support. For example, you may send us an email with information relating
                to <span class="appName"><%= appname %></span> performance or other issues.
            </li>
        </ul>
        <ul>
            <h3>Automatically Collected Information </h3>
            <li>
                Usage and Log Information. We collect service-related, diagnostic, and performance information. This includes information about your activity (such as how you use our Services, how you interact with others using our Services, and the like), log files,
                and diagnostic, crash, and performance logs and reports. ·  Transactional Information. If you pay for our Services, we may receive information and confirmations, such as payment receipts, including from app stores or other third parties
                processing your payment.  ·  Device and Connection Information. We collect device-specific information when you install, access, or use our Services. This includes information such as hardware model, operating system information, browser
                information, IP address, mobile network information, and device identifiers.
            </li>
        </ul>
        <p>
            We may use personal information to provide the services you've requested, including services that display customized content and advertising.
        </p>
    </div>

</body>

</html>