<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">   
    <title>Terms_of_use</title>
    <style>
        .wrap {
            width: 90%;
            margin: 0 auto;
            padding: 10px 15px 50px;
        }
        
        h2 {
            text-align: center;
        }
        
        ul,
        ol {
            padding-left: 15px;
        }
        
        p,
        li {
            text-indent: 10px;
            font-size: 14px;
            color: rgb(51, 51, 51);
        }
        
        .clearTop {
            margin-top: 0;
        }
        
        .clearBot {
            margin-bottom: 0;
        }
    </style>
</head>

<body>
    <div class="wrap">
        <h2>Terms & Condition</h2>
        <h4>Member Account, Password and Security</h4>
        <p class="clearBot">You Will Receive A Password And Account Designation Upon Completing The App’s Registration Process. You Are Responsible For Maintaining The Confidentiality Of The Password And Account, And Are Fully Responsible For All Activities That Occur Under
            Your Password Or Account. You Agree To </p>
        <p class="clearTop">–&gt; Immediately Notify <span class="appName"><%= appname %></span> Of Any Unauthorized Use Of Your Password Or Account Or Any Other Breach Of Security,</p>
        <h4>Changes to Terms or Services</h4>
        <p>We may modify the Terms at any time, in our sole discretion. If we do so, we’ll let you know either by posting the modified Terms on the Site or through other communications via the Services. It’s important that you review the Terms whenever we
            modify them because if you continue to use the Services after we have posted modified Terms on the Site or via the Services, you are indicating to us that you agree to be bound by the modified Terms. If you don’t agree to be bound by the modified
            Terms, then you may not use the Site or the Services anymore. Because our Services are evolving over time we may change or discontinue all or any part of the Services, at any time and without notice, at our sole discretion.</p>
        <h3>Basic Rules</h3>
        <h4>You understand and agree that:</h4>
        <ol>
            <li>You are responsible for any activity that occurs under your username name or is associated with your account. You are responsible for keeping your username and password secure.
            </li>
            <li>You are solely responsible for your conduct and any and all information or material including, without limitation, data, text, images, usernames, graphics, photos, profiles, audio and video clips, links (otherwise known as “Content”)
            </li>
            <li>Violation of any of these Terms will result in the immediate termination of your account.</li>
            <li>Use the  our Services only for personal purposes (you may not use them for commercial purposes).
            </li>
        </ol>
        <h4>Content and Content Rights</h4>
        <p>For purposes of these Terms: (i) “Content” means text, graphics, images, music, software, audio, video, works of authorship of any kind, and information or other materials that are posted, generated, provided or otherwise made available through
            the Services; and (ii) “User Content” means any Content that account holders (including you) provide to be made available through the Services. Content includes without limitation User Content.</p>
        <h4>Rights and Terms for Apps</h4>
        <p><b>Rights in App Granted by Us.</b> Subject to your compliance with these Terms, we grant you a limited non-exclusive, non-transferable, non-serviceable license to download and install a copy of the App on a mobile device that you own or control
            and to run such copy of the App solely for your own personal non-commercial purposes. You may not copy the App, except for making a reasonable number of copies for backup or archival purposes. Except as expressly permitted in these Terms,
            you may not: (i) copy, modify or create derivative works based on the App; (ii) distribute, transfer, sub license, lease, lend or rent the App to any third party; (iii) reverse engineer, de-compile or disassemble the App; or (iv) make the
            functionality of the App available to multiple users through any means. We reserve all rights in and to the App not expressly granted to you under these Terms.</p>
        <h4>Links to Third Party Websites or Resources</h4>
        <p>The Services and Apps may contain links to third-party websites or resources. We provide these links only as a convenience and are not responsible for the content, products or services on or available from those websites or resources or links
            displayed on such websites. You acknowledge sole responsibility for and assume all risk arising from, your use of any third-party websites or resources.</p>
        <h4>General Terms</h4>
        <p>These Terms constitute the entire and exclusive understanding and agreement between us and you regarding the Services and Content, and these Terms supersede and replace any and all prior oral or written understandings or agreements between us
            and you regarding the Services and Content. If for any reason a court of competent jurisdiction finds any provision of these Terms invalid or unenforceable, that provision will be enforced to the maximum extent permissible and the other provisions
            of these Terms will remain in full force and effect. You may not assign or transfer these Terms, by operation of law or otherwise, without our prior written consent. Any attempt by you to assign or transfer these Terms, without such consent,
            will be null. We may freely assign or transfer these Terms without restriction. Subject to the foregoing, these Terms will bind and inure to the benefit of the parties, their successors and permitted assigns.</p>
        <p>Any notices or other communications provided by us under these Terms, including those regarding modifications to these Terms, will be given: (i) via email; or (ii) by posting to the Services. For notices made by email, the date of receipt will
            be deemed the date on which such notice is transmitted.</p>
        <p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of such right or provision. The waiver of any such right or provision will be effective only if in writing and signed by our duly authorized representative.
            Except as expressly set forth in these Terms, the exercise by either party of any of its remedies under these Terms will be without prejudice to its other remedies under these Terms or otherwise.</p>
        <h4>Contact Information</h4>
        <p>If you have any questions about these Terms or the Services, please contact us at EMAIL:<span class="email"><%= appemail %></span></p>
    </div>
</body>

</html>